/** Monochrome **/
/*
** Colors:
** #0E0E0E (Main)
** #282828 (Accent)
** #F8F8F8 (Accent)
*/

/** Global Classes **/
.f-row{display: flex;}
.g-row{display: grid;}
.col-1{grid-template-columns: 100%;}
.col-2{grid-template-columns: 50% 50%;}
.col-3{grid-template-columns: repeat(3, 1fr);}
.masthead{
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}
.btn{
    padding: 15px 40px;
    border: soild 2px #0E0E0E;
    text-decoration: none;
    color: #0E0E0E;
    transition: all .25s ease-in-out;
}
.btn-1{
    border-color: #282828;
    background: #282828;
    color: #F8F8F8;
}
.btn-2{
    border-color: #282828;
    background: #282828;
    color: #F8F8F8;
}
.btn-1:hover{
    border-color: #F8F8F8;
    background: #F8F8F8;
    color: #282828;
}
.btn-2:hover{
    border-color: #F8F8F8;
    background: #F8F8F8;
    color: #282828;
}
.spacer{
    width: 80%;
    height: 10px;
    margin: 30px 0px;
}
.space-primary{background-color: #282828;}
.space-secondary{background-color: #0E0E0E;}

/** General Styling **/
html{scroll-behavior: smooth;}
body{margin: 0px; background-color: #F8F8F8;}
h1,h2,h3,h4,h5,h6{font-family: 'Poppins',sans-serif;}
p,a,li{
    font-family: 'Lato',sans-serif;
    font-size: 1.2em;
}
header{
    width: auto;
    height: 115px;
    align-items: center;
    background-color: #F8F8F8;
}
header div{
    width: auto;
    height: 105px;
    flex-grow: 1;
}
header img{
    width: auto;
    height: 100%;
}
header menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}
header li{padding: 0px 10px;
}
header li a{
    color: #0E0E0E;
    text-decoration: none;
    transition: all .25s linear;
}
.masthead > div{
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}
@font-face{
    font-family: customFont1;
    src: url("../fonts/theory/Theory\ Gank.ttf");
}
/** Complementary **/
/*
** Colors:
** #5B00BF (Main)
** #65BF00 (Accent)
** #F8F8F8 (Accent)
** #0E0E0E (Accent)
*/
.Monochrome header menu li:hover a{
    color: #65BF00;
    text-decoration: underline;
}
.Monochrome .masthead{background-image: url("../img/img-5.jpg");}
.Monochrome .masthead > div{
    background: rgb(91,0,191);
    background: linear-gradient(130deg, rgba(91,0,191,1) 0%, rgba(91,0,191,0.6)45%, rgba(91,0,191,0.3)100%);
}
.Monochrome .masthead h1{
    font-size: 4em;
    color: #f8f8f8;
    text-shadow: 4px 3px 4px rgba(14,14,14,.6);
}
.Monochrome section:nth-child(2){
    padding: 5%;
}
.Monochrome section:nth-child(2) > h2{
    color : #0e0e0e;
    font-size: 26px;
    }
.Monochrome section:nth-child(3) > h2 span{
    color :#5B00BF;
    font-size: 32px;
    font-family: customFont1; 
}
.Monochrome section:nth-child(3) > div h3{
    font-size: 28px;
}
.Monochrome section:nth-child(3) > div:nth-child(1){
    background-image: url("../img/img-2.jpg");
    background-size: cover;
    background-position: right;
}
.Monochrome section:nth-child(3) > div:nth-child(2){
padding: 5%;
}
.Monochrome section:nth-child(4)>div{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 350px;
}
.Monochrome section:nth-child(4)>h4{
font-size: 26px;
}
.Monochrome section:nth-child(4)>h4{
    font-size: 38px;
    }
 .Monochrome section:nth-child(4)>div:nth-child(even){
    background-color: #5B00BF;
    color: #0e0e0e;
 }